@model LedSiparisModulu.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bupiliç | Fiyat Endeks</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/css/components.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/css/login-4.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/image/logo2.png" style="width:104px;" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "alert", @style = "color:#e73d4a" })
            <form class="login-form">
                <h3 class="form-title">Bupiliç Fiyat Endeksi</h3>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(model => model.KullaniciAdi, new { placeholder = "Kullanıcı Adı", @class = "form-control placeholder-no-fix" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(model => model.Sifre, new { placeholder = "Şifre", @class = "form-control placeholder-no-fix" })
                    </div>
                </div>

                <div class="form-actions">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="1" /> Beni Hatırla
                        <span></span>
                    </label>
                    <button type="submit" class="btn green pull-right"> Giriş </button>
                </div>
                @*<div class="create-account">
                    <label class="small">sevkiyat@bupilic.com.tr</label><br />
                    <label class="small">bupilicsevkiyat@bupilic.com.tr</label><br />
                    <label>Destek İçin 0 (266) 733 8725</label>
                </div>*@
              
            </form>
        }
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright"> 2021 &copy; Bupiliç Entegre A.Ş. - IT Departmanı </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/js/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/js/login-4.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->

    @await Component.InvokeAsync("ToastNotify")
</body>
</html>


